/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */

html {
	font-size: 100%;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body {
	color: $color-black;
	@include font-smoothing();
	@include font-regular();
	font-size: 10pt;
	line-height: 1.4;
  margin: 0 auto;
  max-width: 700px;
	padding: 20px;
	position: relative;
}

/**
 * -----------------------------------------------------------------------------
 * Sticky footer
 * -----------------------------------------------------------------------------
 */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main.site {
  flex: 1 0 auto;
}

footer.site-footer {
	flex-shrink: 0;
	padding-bottom: 15px;
}