/node_modules
/public/hot
/public/storage
/public/storage-quote
public/.htaccess
/storage/*.key
/storage/quote
/vendor
.env
.env.backup
.env*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
INSTALL.TXT
/INSTALL.TXT