/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:   #000000;
$color-white:   #ffffff;
$color-light:   #f1f1f1;
$color-medium:  #737373;
$color-grey:    #dedede;
$color-yellow:  #fde828;
$color-rose:    #ea4f61;
$color-blue:    #6496ff;
$color-green:   #65cd8c;
$color-stzh:    #0F05A0;

// Notification colors
$color-success:   #70AE6E !default;
$color-info:      #009DDC !default;
$color-warning:   #f0ad4e !default;
$color-danger:    #DA2C38 !default;

