/**
 * -----------------------------------------------------------------------------
 * File: config/spaces
 * -----------------------------------------------------------------------------
 */

$space-1x:   5px;
$space-2x:  10px;
$space-3x:  15px;
$space-4x:  20px;
$space-5x:  25px;
$space-6x:  30px;
$space-7x:  35px;
$space-8x:  40px;
$space-9x:  45px;
$space-10x: 50px;
$space-11x: 55px;
$space-12x: 60px;
$space-13x: 65px;
$space-14x: 70px;
$space-15x: 75px;
$space-16x: 80px;
$space-17x: 85px;
$space-18x: 90px;
$space-19x: 95px;
$space-20x: 100px;
$space-21x: 105px;
$space-22x: 110px;
$space-23x: 115px;
$space-24x: 120px;
$space-25x: 125px;
