.btn-accept {
  background-color: $color-info;
  border-radius: 2px;
  color: $color-white;
  display: block;
  @include font-bold();
  @include font-size($fs-xs);
  line-height: 1 !important;
  height: auto;
  padding: 10px $space-2x 12px $space-2x;

  &:hover {
    background-color: darken($color-success, 10);
    transition: background-color .1s ease-in;
  }

  &.is-accepted {
    background-color: $color-success;
    pointer-events: none;
  }
}