/* Components */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@import "./components/alert.css";
@import "./components/buttons.css";
@import "./components/card.css";
@import "./components/form.css";
@import "./components/icons.css";
@import "./components/notification.css";
@import "./components/tooltip.css";
@import "./components/progress.css";

@import "./vendor/dropzone.css";
@import "./vendor/dropzone-custom.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme: Border */
.border-bottom {
  @apply border-0 border-b-2 border-gray-100;
}

.border-top {
  @apply border-0 border-t-2 border-gray-100;
}

.border-left {
  @apply border-0 border-l-2 border-gray-100;
}

.border-right {
  @apply border-0 border-r-2 border-gray-100;
}

.border-all {
  @apply border-2 border-gray-100;
}


body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 7px;
  opacity: .5;

}
::-webkit-scrollbar-thumb:window-inactive {
  background-color: #bbb;
}	