@import url(//fast.fonts.net/t/1.css?apiType=css&projectid=b8b481e0-9a18-4db7-8cf5-cbfc90813a46);

/**
 * -----------------------------------------------------------------------------
 * File: app
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: config/global
 * -----------------------------------------------------------------------------
 *
 * Global settings and variables
 *
 */
/* Urls
 * -------------------- */
/* Breakpoints
 * -------------------- */
/* Header
 * -------------------- */
/* Footer
 * -------------------- */
/* Content
 * -------------------- */
/**
 * -----------------------------------------------------------------------------
 * File: config/spaces
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: helper/normalize
 * -----------------------------------------------------------------------------
 * 
 * normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css
 *
 */
/**
 * Set box-sizing to "border-box" for all elements
 */
*,
*:after,
*:before {
  box-sizing: border-box;
}
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  vertical-align: middle;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  background-color: transparent;
  box-sizing: content-box;
  display: block;
  margin: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
th {
  font-weight: normal;
}
/* Input placeholders
   ========================================================================== */
::-webkit-input-placeholder {
  color: #000000;
}
/* FF 18- */
:-moz-placeholder {
  color: #000000;
}
/* FF 19+ */
::-moz-placeholder {
  color: #000000;
}
:-ms-input-placeholder {
  color: #000000;
}
/* Reset headings
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
}
/* Reset definition lists
   ========================================================================== */
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
/* Reset anchors
   ========================================================================== */
a,
a:hover,
a:visited {
  text-decoration: none;
}
a:focus {
  outline: none;
}
/* Reset nav elements
   ========================================================================== */
nav ol,
nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  display: inline-block;
}
/* Set text selection to lightgrey
   ========================================================================== */
::-moz-selection {
  background: #eeeeee;
  text-shadow: none;
}
::selection {
  background: #eeeeee;
  text-shadow: none;
}
/* Remove italic style
   ========================================================================== */
i,
em,
address {
  font-style: normal;
}
/* Add font weight bold
   ========================================================================== */
b, strong {
  font-weight: bold;
}
/* Remove margins for paragraphs
   ========================================================================== */
p {
  margin: 0;
}
/**
 * -----------------------------------------------------------------------------
 * File: helper/functions
 * -----------------------------------------------------------------------------
 */
/**
 * Get value from map
 * -----------------------------------------------------------------------------
 * 
 * Usage: get($map, $key);
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: helper/mixins
 * -----------------------------------------------------------------------------
 */
/**
 * Scrollbars
 * -----------------------------------------------------------------------------
 */
/**
 * Vertical align
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      element {
 *          @include vertical-align($position);
 *      }
 *
 */
/**
 * Cross browser opacity
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      img {
 *          @include opacity(1,100);
 *      }
 *
 */
/**
 * Set box shadow
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      div {
 *          @include box-shadow(values);
 *      }
 *
 */
/**
 * Grayscale an image
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      img {
 *          @include filter-grayscale(value);
 *      }
 *
 */
/**
 * Background defaults
 * -----------------------------------------------------------------------------
 *
 */
/**
 * Visually hide an element
 * -----------------------------------------------------------------------------
 * This placeholder selector will visually hide an element while
 * still make it accessible for screenreaders.
 * 
 * Usage:
 *
 *      p {
 *          @extend %visually-hidden;
 *      }
 *
 */
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
/**
 * Clearfix
 * -----------------------------------------------------------------------------
 * A solid clearfix by Nicolas Gallagher.
 * Source: (http://nicolasgallagher.com/micro-clearfix-hack/)
 * 
 * Usage:
 *
 *      p {
 *          @extend %clearfix;
 *      }
 *
 */
.clearfix,
.cf {
  *zoom: 1;
}
.clearfix:before,
.cf:before {
  content: " ";
  display: table;
}
.clearfix:after,
.cf:after {
  content: " ";
  display: table;
  clear: both;
}
/**
 * Media Queries
 * -----------------------------------------------------------------------------
 * A simple mixin for using media queries. Change the values to
 * fit your sites needs.
 * 
 * Usage:
 *
 *      header {
 *          @include bp-small() {
 *              display: none;
 *          }
 *          @include bp-huge() {
 *              display: block;
 *          }
 *      }
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/spaces
 * -----------------------------------------------------------------------------
 *
 * Helpers for vertical spacing
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/utilities
 * -----------------------------------------------------------------------------
 */
.hide-sm {
  display: none;
}
@media only screen and (min-width: 800px) {
  .hide-sm {
    display: block;
  }
}
.hide-md {
  display: block;
}
@media only screen and (min-width: 800px) {
  .hide-md {
    display: none;
  }
}
/**
 * -----------------------------------------------------------------------------
 * File: components/typo/webfonts
 * -----------------------------------------------------------------------------
 *
 * Typography - Webfonts
 *
 */
@font-face {
  font-family: "MetaLight";
  src: url("fonts/ff5015a8-a7c1-4d56-ab03-aea0691a57d3.eot?#iefix");
  src: url("fonts/ff5015a8-a7c1-4d56-ab03-aea0691a57d3.eot?#iefix") format("eot"), url("fonts/34badce7-ec0d-43bb-83c0-8fb9f628b807.woff2") format("woff2"), url("fonts/f3778d5a-00a6-4842-b6b2-5bf9b72d7aa7.woff") format("woff"), url("fonts/5d752621-0c66-4e68-9cbb-f1d22aeae23c.ttf") format("truetype");
}
@font-face {
  font-family: "MetaNormal";
  src: url("fonts/ff7aa537-8e40-4f5e-9c8f-c5bd078c58db.eot?#iefix");
  src: url("fonts/ff7aa537-8e40-4f5e-9c8f-c5bd078c58db.eot?#iefix") format("eot"), url("fonts/4ce43a49-0d61-4c34-8054-465d5981fd0b.woff2") format("woff2"), url("fonts/d7b73a86-9fc7-41b4-a367-cbbd20039787.woff") format("woff"), url("fonts/7fc1eb11-127b-4452-9067-a7e4b1b321d6.ttf") format("truetype"), url("fonts/883aaf64-976f-4072-bd04-1284a07164df.svg#883aaf64-976f-4072-bd04-1284a07164df") format("svg");
}
@font-face {
  font-family: "MetaBold";
  src: url("fonts/ffa70b6d-1f49-44a8-a728-1869c881510f.eot?#iefix");
  src: url("fonts/ffa70b6d-1f49-44a8-a728-1869c881510f.eot?#iefix") format("eot"), url("fonts/94400875-1ce0-47f5-b278-c6ccfa287f52.woff2") format("woff2"), url("fonts/3acf28fb-87d9-4146-b959-a0e26918dc14.woff") format("woff"), url("fonts/a2e92583-d34d-4e2a-9b1b-ffa7a1ab4fb3.ttf") format("truetype"), url("fonts/326632ff-6fcc-4b8f-88e0-63c10ae46c57.svg#326632ff-6fcc-4b8f-88e0-63c10ae46c57") format("svg");
}
/**
 * -----------------------------------------------------------------------------
 * File: components/typo/mixins
 * -----------------------------------------------------------------------------
 *
 */
/**
 * Font smoothing
 * -----------------------------------------------------------------------------
 *
 */
/**
 * Font: Meta Regular
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      p {
 *          @include font-regular();
 *      }
 *
 */
/**
 * Font: Meta Bold
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      p {
 *          @include font-bold();
 *      }
 *
 */
/**
 * Font: Meta Light
 * -----------------------------------------------------------------------------
 * 
 * Usage:
 *
 *      p {
 *          @include font-light();
 *      }
 *
 */
.word-break {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}
/**
 * Define the font size
 * -----------------------------------------------------------------------------
 * 
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/typo/helpers
 * -----------------------------------------------------------------------------
 *
 * Helper classes for typography
 *
 */
.uc {
  text-transform: uppercase;
}
.lc {
  text-transform: lowercase;
}
.cap {
  text-transform: capitalize;
}
.align-center {
  text-align: center;
}
.align-justify {
  text-align: justify;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.nobr {
  white-space: nowrap;
}
/**
 * Typography - Generic elements
 * -----------------------------------------------------------------------------
 */
strong, b {
  font-family: "MetaBold", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
em, i {
  font-family: "MetaNormal", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
p {
  margin-bottom: 25px;
}
/**
 * -----------------------------------------------------------------------------
 * File: component/anchors
 * -----------------------------------------------------------------------------
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: component/alerts
 * -----------------------------------------------------------------------------
 *
 */
.alert {
  font-family: "MetaNormal", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  max-width: 480px;
}
.alert.alert--danger {
  color: #DA2C38;
}
.alert.alert--success {
  border-color: #70AE6E;
  color: #70AE6E;
}
.alert ul {
  font-family: "MetaNormal", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  margin-bottom: 0;
}
.alert-warning {
  border: 2px solid #000000;
  color: #000000;
  font-family: "MetaNormal", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
.alert-warning a {
  color: #000000;
  text-decoration: underline;
}
.alert-warning a:hover {
  text-decoration: none;
}
/**
 * -----------------------------------------------------------------------------
 * File: component/blocks
 * -----------------------------------------------------------------------------
 *
 */
.btn-download {
  background-color: #000000;
  border-radius: 2px;
  color: #ffffff;
  display: block;
  font-family: "MetaBold", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  line-height: 1 !important;
  height: auto;
  padding: 10px 10px 12px 10px;
}
@media screen and (min-width: 375px) {
  .btn-download {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 600px) {
  .btn-download {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 800px) {
  .btn-download {
    font-size: 17px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1260px) {
  .btn-download {
    font-size: 17px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1440px) {
  .btn-download {
    font-size: 17px;
    line-height: 1.2;
  }
}
.btn-download:hover {
  background-color: rgb(76.5, 76.5, 76.5);
  transition: background-color 0.1s ease-in;
}
.btn-accept {
  background-color: #009DDC;
  border-radius: 2px;
  color: #ffffff;
  display: block;
  font-family: "MetaBold", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  line-height: 1 !important;
  height: auto;
  padding: 10px 10px 12px 10px;
}
@media screen and (min-width: 375px) {
  .btn-accept {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 600px) {
  .btn-accept {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 800px) {
  .btn-accept {
    font-size: 17px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1260px) {
  .btn-accept {
    font-size: 17px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1440px) {
  .btn-accept {
    font-size: 17px;
    line-height: 1.2;
  }
}
.btn-accept:hover {
  background-color: rgb(0, 120.6045454545, 169);
  transition: background-color 0.1s ease-in;
}
.btn-accept.is-accepted {
  background-color: #70AE6E !important;
  pointer-events: none;
}
/**
 * -----------------------------------------------------------------------------
 * File: components/cards
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/icons/global
 * -----------------------------------------------------------------------------
 */
.icons {
  display: block;
  width: 100%;
}
.icons-center {
  margin-left: auto;
  margin-right: auto;
}
.icons-spread {
  text-align: center;
}
.icons-spread [class*=icon]:not(:last-child) {
  margin-right: 5px;
}
@supports (display: flex) {
  .icons-spread {
    display: flex;
    justify-content: space-between;
  }
  .icons-spread .icon {
    margin-right: 0 !important;
  }
}
/**
 * -----------------------------------------------------------------------------
 * Generic icon classes
 * -----------------------------------------------------------------------------
 */
.icon {
  display: block;
}
.icon-ib {
  display: inline-block;
}
.icon-bg {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
}
.icon-round {
  border-radius: 50%;
}
/**
 * -----------------------------------------------------------------------------
 * File: component/headings/global
 * -----------------------------------------------------------------------------
 */
h1, h2, h3 {
  margin: 0;
}
/**
 * -----------------------------------------------------------------------------
 * File: component/headings/h1
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: component/headings/h2
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: component/headings/h3
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/hr
 * -----------------------------------------------------------------------------
 */
.loading-indicator {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  display: none;
  justify-content: center;
  height: 100%;
  min-height: 100px;
  left: 0;
  opacity: 1;
  pointer-events: all;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 301;
}
.loading-indicator svg {
  animation: rotation 2s infinite linear;
  color: #000000;
  display: block;
  height: 36px;
  width: 36px;
}
.loading-indicator.is-visible {
  display: flex;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/**
 * -----------------------------------------------------------------------------
 * File: components/logo
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: components/images
 * -----------------------------------------------------------------------------
 *
 * Various classes for image elements
 */
.is-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}
/**
 * -----------------------------------------------------------------------------
 * File: components/visual
 * -----------------------------------------------------------------------------
 *
 */
/**
 * -----------------------------------------------------------------------------
 * File: form/global
 * -----------------------------------------------------------------------------
 */
input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
input[type=time],
textarea,
select,
button {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #000000;
  display: block;
  font-family: "MetaNormal", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  position: relative;
  outline: none !important;
  width: 100%;
  z-index: 1;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: #ffffff;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=time]:focus {
  background-color: #ffffff;
}
input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
input[type=time],
textarea,
select {
  transition: background-color 0.12s ease-out;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
textarea {
  height: 150px;
}
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
input[type=submit],
button {
  background-color: #000000;
  border-radius: 0;
  color: #ffffff;
  display: block;
  width: auto;
}
/**
 * -----------------------------------------------------------------------------
 * File: form/input
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: form/forms
 * -----------------------------------------------------------------------------
 */
form.auth {
  max-width: 480px;
}
form.auth h1 {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 30px;
}
@media screen and (min-width: 375px) {
  form.auth h1 {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 600px) {
  form.auth h1 {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 800px) {
  form.auth h1 {
    font-size: 25px;
    line-height: 1.24;
  }
}
@media screen and (min-width: 1260px) {
  form.auth h1 {
    font-size: 25px;
    line-height: 1.24;
  }
}
@media screen and (min-width: 1440px) {
  form.auth h1 {
    font-size: 25px;
    line-height: 1.24;
  }
}
form.auth input[type=text],
form.auth input[type=email],
form.auth input[type=password] {
  border-bottom: 1px solid #000000;
  font-size: 14px;
  line-height: 1.28;
  padding: 10px 10px 10px 0;
}
@media screen and (min-width: 375px) {
  form.auth input[type=text],
  form.auth input[type=email],
  form.auth input[type=password] {
    font-size: 14px;
    line-height: 1.28;
  }
}
@media screen and (min-width: 600px) {
  form.auth input[type=text],
  form.auth input[type=email],
  form.auth input[type=password] {
    font-size: 16px;
    line-height: 1.28;
  }
}
@media screen and (min-width: 800px) {
  form.auth input[type=text],
  form.auth input[type=email],
  form.auth input[type=password] {
    font-size: 20px;
    line-height: 1.28;
  }
}
@media screen and (min-width: 1260px) {
  form.auth input[type=text],
  form.auth input[type=email],
  form.auth input[type=password] {
    font-size: 20px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1440px) {
  form.auth input[type=text],
  form.auth input[type=email],
  form.auth input[type=password] {
    font-size: 20px;
    line-height: 1.3;
  }
}
form.auth--recover {
  max-width: 480px;
}
@media only screen and (min-width: 1440px) {
  form.auth--recover .form-group label {
    flex: 0 0 125px;
  }
}
form.auth--reset {
  max-width: 480px;
}
@media only screen and (min-width: 1440px) {
  form.auth--reset .form-group label {
    flex: 0 0 215px;
  }
}
/**
 * -----------------------------------------------------------------------------
 * File: form/label
 * -----------------------------------------------------------------------------
 */
label {
  display: block;
}
/**
 * -----------------------------------------------------------------------------
 * File: form/layout
 * -----------------------------------------------------------------------------
 */
.form-group {
  align-items: center;
  display: block;
  margin-bottom: 15px;
  position: relative;
}
@media only screen and (min-width: 1260px) {
  .form-group {
    margin-bottom: 30px;
  }
}
.form-grid {
  margin-bottom: 15px;
}
@media only screen and (min-width: 600px) {
  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
  }
}
.form-grid .form-group {
  margin-bottom: 15px;
}
@media only screen and (min-width: 600px) {
  .form-grid .form-group {
    margin-bottom: 0;
  }
}
.form-group-radio,
.form-group-checkbox {
  display: flex;
  margin-bottom: 10px;
  position: relative;
}
.form-group-radio > div,
.form-group-checkbox > div {
  flex: 0 0 35px;
  padding-top: 3px;
}
.form-group-radio input[type=radio],
.form-group-radio input[type=checkbox],
.form-group-checkbox input[type=radio],
.form-group-checkbox input[type=checkbox] {
  height: 20px;
  width: 20px;
  opacity: 0;
  position: absolute;
  padding: 10px;
  left: 0;
  top: 3px;
  z-index: 1;
}
.form-group-radio input[type=radio]:checked + .radio span,
.form-group-radio input[type=checkbox]:checked + .checkbox span,
.form-group-checkbox input[type=radio]:checked + .radio span,
.form-group-checkbox input[type=checkbox]:checked + .checkbox span {
  background-color: #000000;
}
.form-group-radio .checkbox,
.form-group-checkbox .checkbox {
  border: 1px solid #000000;
  height: 20px;
  position: relative;
  width: 20px;
}
.form-group-radio .checkbox span,
.form-group-checkbox .checkbox span {
  height: 14px;
  left: 2px;
  top: 2px;
  position: absolute;
  width: 14px;
}
.form-group-radio label a,
.form-group-checkbox label a {
  color: #000000;
}
.form-group-radio label a:hover,
.form-group-checkbox label a:hover {
  color: #000000;
  text-decoration: none;
}
.form-buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
.form-buttons.align-justify {
  justify-content: space-between;
}
.form-buttons.align-start {
  justify-content: flex-start;
}
.form-buttons.align-end {
  justify-content: flex-end;
}
.form-buttons a {
  color: #000000;
}
/**
 * -----------------------------------------------------------------------------
 * File: form/placeholder
 * -----------------------------------------------------------------------------
 */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #000000;
  font-size: 12px;
  line-height: 1.2;
}
@media screen and (min-width: 375px) {
  ::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 600px) {
  ::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 800px) {
  ::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1260px) {
  ::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1440px) {
  ::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #000000;
  font-size: 12px;
  line-height: 1.2;
  opacity: 1;
}
@media screen and (min-width: 375px) {
  :-moz-placeholder {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 600px) {
  :-moz-placeholder {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 800px) {
  :-moz-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1260px) {
  :-moz-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1440px) {
  :-moz-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #000000;
  font-size: 12px;
  line-height: 1.2;
  opacity: 1;
}
@media screen and (min-width: 375px) {
  ::-moz-placeholder {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 600px) {
  ::-moz-placeholder {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 800px) {
  ::-moz-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1260px) {
  ::-moz-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1440px) {
  ::-moz-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000000;
  font-size: 12px;
  line-height: 1.2;
}
@media screen and (min-width: 375px) {
  :-ms-input-placeholder {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 600px) {
  :-ms-input-placeholder {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 800px) {
  :-ms-input-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1260px) {
  :-ms-input-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1440px) {
  :-ms-input-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #000000;
  font-size: 12px;
  line-height: 1.2;
}
@media screen and (min-width: 375px) {
  ::-ms-input-placeholder {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 600px) {
  ::-ms-input-placeholder {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 800px) {
  ::-ms-input-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1260px) {
  ::-ms-input-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1440px) {
  ::-ms-input-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
::-moz-placeholder { /* Most modern browsers support this now. */
  color: #000000;
  font-size: 12px;
  line-height: 1.2;
}
::placeholder { /* Most modern browsers support this now. */
  color: #000000;
  font-size: 12px;
  line-height: 1.2;
}
@media screen and (min-width: 375px) {
  ::-moz-placeholder {
    font-size: 14px;
    line-height: 1.2;
  }
  ::placeholder {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 600px) {
  ::-moz-placeholder {
    font-size: 14px;
    line-height: 1.2;
  }
  ::placeholder {
    font-size: 14px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 800px) {
  ::-moz-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
  ::placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1260px) {
  ::-moz-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
  ::placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1440px) {
  ::-moz-placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
  ::placeholder {
    font-size: 17px;
    line-height: 1.2;
  }
}
/**
 * -----------------------------------------------------------------------------
 * File: form/select
 * -----------------------------------------------------------------------------
 */
.select-wrapper {
  background-color: transparent;
  display: inline-block;
  position: relative;
  width: 100%;
}
.select-wrapper.is-sm {
  max-width: 480px;
}
.select-wrapper:after {
  background-size: 100%;
  background-position: top left;
  background-image: url("../img/icons/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px auto;
  background-color: transparent;
  content: "";
  height: 100%;
  right: 0;
  padding: 0 5px;
  position: absolute;
  top: 0;
  width: 32px;
  z-index: 0;
}
.select-wrapper select {
  background-color: transparent !important;
  display: block;
  padding: 11px 50px 9px 1px;
  width: 100%;
}
.select-wrapper select:hover {
  cursor: pointer;
}
/**
 * -----------------------------------------------------------------------------
 * File: form/validation
 * -----------------------------------------------------------------------------
 */
.has-error {
  color: #DA2C38;
}
.has-error label {
  color: #DA2C38;
}
.error-message {
  color: #DA2C38;
  margin: 15px 0;
}
/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */
html {
  font-size: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "MetaNormal", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 10pt;
  line-height: 1.4;
  margin: 0 auto;
  max-width: 700px;
  padding: 20px;
  position: relative;
}
/**
 * -----------------------------------------------------------------------------
 * Sticky footer
 * -----------------------------------------------------------------------------
 */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main.site {
  flex: 1 0 auto;
}
footer.site-footer {
  flex-shrink: 0;
  padding-bottom: 15px;
}
/**
 * -----------------------------------------------------------------------------
 * File: layout/article
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: layout/footer
 * -----------------------------------------------------------------------------
 */
footer.site-footer {
  font-family: "MetaBold", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
/**
 * -----------------------------------------------------------------------------
 * File: layout/main
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: layout/section
 * -----------------------------------------------------------------------------
 */
/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/global
 * -----------------------------------------------------------------------------
 */
nav li {
  display: block;
}
/**
 * -----------------------------------------------------------------------------
 * File: views/quote
 * -----------------------------------------------------------------------------
 *
 */
.quote-actions {
  margin-bottom: 40px;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.quote-actions a {
  font-size: 14px !important;
  display: flex;
  align-items: center;
  line-height: 1 !important;
  justify-content: center;
  margin-left: 20px;
  width: auto;
  min-width: 150px;
}
section.quote {
  background-color: transparent;
  width: 100%;
}
section.quote h1 {
  font-family: "MetaLight", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 15pt;
}
section.quote .quote-header__brand {
  display: flex;
  margin-bottom: 50px;
  margin-top: 20px;
  justify-content: flex-end;
}
section.quote .quote-header__brand svg {
  display: block;
  height: auto;
  width: 100%;
  max-width: 50px;
}
section.quote .quote-header__address {
  margin-bottom: 50px;
}
section.quote .quote-items {
  border-top: 1px solid #000;
  margin-bottom: 30px;
  width: 100%;
}
section.quote .quote-items.is-total {
  margin-bottom: 60px;
}
section.quote .quote-items.is-total tr:nth-child(1), section.quote .quote-items.is-total tr:nth-child(3) {
  border-top: 2px solid #000;
}
section.quote .quote-items.is-total tr:last-of-type {
  border-bottom: none;
}
section.quote .quote-items tr {
  border-bottom: 1px solid #000;
}
section.quote .quote-items td {
  padding: 3px 0 5px 0;
  vertical-align: top;
}
section.quote .quote-items .quote-items__description {
  width: 70%;
}
section.quote .quote-items .quote-items__quantity {
  width: 50px;
}
section.quote .quote-items .quote-items__quantity em {
  font-size: 8pt;
}
section.quote .quote-items .quote-items__line-price {
  width: calc(15% - 25px);
}
section.quote .quote-items .quote-items__line-total {
  font-family: "MetaBold", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: right;
  width: calc(15% - 25px);
}
section.quote .quote-details p {
  margin-bottom: 0 !important;
}
@media print {
  @page {
    size: A4;
    margin-top: 12mm;
    margin-bottom: 18mm;
  }
  body {
    padding: 0 9mm 0 22mm;
    max-width: none;
    font-size: 9pt;
  }
  footer.site-footer {
    padding-bottom: 0 !important;
  }
  .quote-actions {
    display: none !important;
  }
  section.quote {
    background-color: transparent;
    width: 100%;
  }
  section.quote h1 {
    font-family: "MetaLight", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-size: 13pt;
  }
  section.quote .quote-header__brand {
    margin-bottom: 20mm;
    margin-top: 6mm;
  }
  section.quote .quote-header__brand svg {
    max-width: none;
    width: 11mm;
  }
  section.quote .quote-body {
    max-width: 135mm;
  }
  section.quote .quote-items {
    border-top: 0.3pt solid #333;
    page-break-after: auto;
    width: 100%;
  }
  section.quote .quote-items.is-total tr:nth-child(1), section.quote .quote-items.is-total tr:nth-child(3) {
    border-top: 0.3pt solid #333;
  }
  section.quote .quote-items.is-total tr:last-of-type {
    border-bottom: none;
  }
  section.quote .quote-items .quote-items__description {
    width: 66%;
  }
  section.quote .quote-items .quote-items__line-price {
    width: calc(17% - 25px);
  }
  section.quote .quote-items .quote-items__line-total {
    width: calc(17% - 25px);
  }
  section.quote .quote-items tr {
    border-bottom: 0.3pt solid #333 !important;
  }
}
