/* components/form */

/* default styles for input, select, textarea */

@layer base {
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  select,
  textarea {
    @apply text-dark text-sm lg:text-base mt-0 block w-full px-0 py-2 lg:py-3 border-0 border-bottom focus:ring-0 focus:border-dark;
    -webkit-border-radius: 0px;
    border-radius: 0;
  }

  select {
    @apply px-0 py-3 pr-0 !pl-0 border-b-2 border-gray-100 bg-white;
  }

  select option {
    @apply !p-0
  }

  input[type="color"] {
    @apply block h-8 w-24 sm:h-10 sm:w-36 mt-2;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
  }

  /* remove outline */
  input:focus, 
  textarea:focus, 
  select:focus {
    outline: none !important;
  }

  /* remove autofill background */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    outline: none !important;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  }

  /* checked radio buttons */
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    @apply bg-dark border-dark text-white rounded-sm
  }

  input[type="checkbox"].checkbox {
    @apply appearance-none h-4 w-4 !border !border-gray-200 bg-white checked:bg-dark checked:!border-dark focus:outline-none transition duration-100 mr-2 cursor-pointer
  }
}

.form-check {
  @apply flex items-center;
}

.form-check input[type="checkbox"].checkbox + label {
  @apply text-base text-dark font-sans cursor-pointer select-none
}

.form-check input[type="checkbox"].checkbox:checked + label {
  @apply bg-transparent border-0 text-dark
}

/* form group */
.form-group {
  @apply mb-4 lg:mb-6 max-width-content relative;
}

.form-group.is-invalid label {
  @apply text-red-500;
}

.form-group label {
  @apply text-gray-400 text-xs sm:text-sm font-mono inline-block relative;
}

/* form helpers */
a.form-helper {
  @apply text-gray-400 text-xs sm:text-sm font-normal no-underline hover:text-highlight;
}

a.form-helper-footer {
  @apply text-sm lg:text-base sm:ml-6 lg:ml-12
}