/* components/form */

/* default styles for input, select, textarea */

@layer base {
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  select,
  textarea {
    @apply font-mono text-dark text-sm mt-0 block w-full px-0 py-2 lg:py-3 border-0 border-bottom focus:ring-0 focus:border-dark;
  }

  select {
    @apply mt-0 block w-full px-0 py-3 pr-0 pl-0 border-b-2 border-gray-100 focus:ring-0 focus:border-dark font-mono text-sm;
  }

  /* remove outline */
  input:focus, 
  textarea:focus, 
  select:focus {
    outline: none !important;
  }

  /* remove autofill background */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    outline: none !important;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  }

  /* checked radio buttons */
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    @apply bg-dark border-dark text-white rounded-sm
  }

  input[type="checkbox"].checkbox {
    @apply appearance-none h-4 w-4 !border !border-gray-200 bg-white checked:bg-dark checked:!border-dark focus:outline-none transition duration-100 mr-2 cursor-pointer
  }
  
}

.form-check {
  @apply flex items-center;
}

.form-check input[type="checkbox"].checkbox + label {
  @apply text-base text-dark font-sans cursor-pointer select-none
}

.form-check input[type="checkbox"].checkbox:checked + label {
  @apply bg-transparent border-0 text-dark
}


/* form group */
.form-group {
  @apply mb-4 lg:mb-6 max-w-4xl;
}

.form-group label {
  @apply text-gray-400 text-xs sm:text-sm font-mono inline-block relative;
}

/* form helpers */
a.form-helper {
  @apply text-gray-400 text-xs sm:text-sm font-normal no-underline hover:text-highlight;
}

a.form-helper-footer {
  @apply text-sm lg:text-base sm:ml-6 lg:ml-12
}