.shape {
  @apply cursor-pointer border-2 border-blue-700 absolute z-10;
  user-select: none !important;
}

.shape.is-active {
  @apply border-highlight cursor-move !z-[10000];
}

.shape.is-active.is-locked,
.shape.is-active.is-locked:hover,
.shape.is-disabled,
.shape.is-disabled:hover {
  @apply !border-blue-700 !cursor-default;
}

.shape.shape--comment.is-active,
.shape.shape--comment.is-active:hover,
.shape.shape--comment.is-disabled,
.shape.shape--comment.is-disabled:hover,
.shape.shape--comment.is-locked,
.shape.shape--comment.is-locked:hover {
  @apply !cursor-pointer;
}

.shape.shape--comment:hover {
  @apply !text-highlight;
}

.shape.is-locked {
  @apply !cursor-default;
}

.shape.shape--circle {
  border-radius: 100%;
}

.shape.shape--comment {
  @apply !border-none text-blue-700;
}

.shape.shape--comment.is-active {
  @apply text-highlight;
}


.shape.shape--comment.is-active textarea {
  @apply !z-[10000] absolute left-0;
  -webkit-text-fill-color: white !important;
}

.shape.shape--comment.shape--comment-rtl textarea {
  @apply !right-0 !left-auto;
}

.shape.shape--comment.shape--comment-ltr textarea {
  @apply !left-0 !right-auto;
}