.shape {
  @apply cursor-pointer border-2 border-blue-700 absolute z-10;
  user-select: none !important;
}

.shape.is-active {
  @apply border-highlight cursor-move !z-[10000];
}

.shape.shape--circle {
  border-radius: 100%;
}

.shape.shape--comment {
  @apply !border-none text-blue-700;
}

.shape.shape--comment.is-active {
  @apply text-highlight;
}

.shape.shape--comment.is-active textarea {
  @apply !z-[10000] absolute left-0;
}

.shape.shape--comment.shape--comment-rtl textarea {
  @apply !right-0 !left-auto;
}

.shape.shape--comment.shape--comment-ltr textarea {
  @apply !left-0 !right-auto;
}